.chart {
    width: 100%;
    height: 200px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: #2d62ae;
}

.left {
    position: absolute;
    top: 30px;
    left: 0;
    width: 50%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.right {
    position: absolute;
    top: 30px;
    right: 0;
    width: 50%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    padding: 0 10px;
}

.CodeMirror {
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.logo {
    font-weight: bold;
    color: white;
    padding: 5px;
    display: block;
    float: left;
}

.header .task-bar {
    display: block;
}

.header.running .task-bar {
    display: none;
}

.header .task-bar-running {
    display: none;
}

.header.running .task-bar-running {
    display: block;
}

.task-bar, .task-bar-running {
    float: right;
    padding-right: 50px;
}

.task-bar a, .task-bar-running a, .task-bar-running .msg {
    text-decoration: none;
    color: white;
    padding: 5px;
    height: 30px;
    float: left;
    margin: 0 10px;
    overflow: hidden;
}

.task-bar a:hover, .task-bar-running a:hover {
    background: #4d4d4d;
    color: #ffffff;
}

.inactive {
    opacity: 0.1;
}

.table.nofirst tr:first-child td {
    border: 0;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(255, 255, 255, 0.79);
}

#loading > .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
}

#loading > .spinner > div {
    position: absolute;
    top: -45px;
    left: -45px;
}